<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="insert-SEO-description-here">
  <title>ToDo List</title>
  <!-- custom CSS styles -->
  <link rel="stylesheet" href="/css/styles.css">
  <!-- favicon -->
  <link rel="shortcut icon" href="/images/favicon.ico">
</head>

<body>
