<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="insert-SEO-description-here">
  <title>Starter Project</title>
  <!-- custom CSS styles -->
  <link rel="stylesheet" href="css/styles.css">
  <!-- favicon -->
  <link rel="shortcut icon" href="insert-icon-name.ico">
</head>

<body>

  <div class="box" id="heading">
    <h2> <%= dayOfTheWeek %> </h2>
  </div>

  <div class="box">

    <% for(let i=0; i<newTasks.length;i++) { %>
    <div class="item">
      <input type="checkbox">
      <p> <%= newTasks[i] %> </p>
      <form action="/" method="post">
        <!-- <input type="submit" name="submit" value=" "> -->
        <button type="submit" name="del" value=" "> <img src="../images/del.png" alt="delete" width="100%"> </button>
      </form>
    </div>
    <% } %>

    <form class="item" action="/" method="post">
      <input type="text" name="item" placeholder="Enter Task" autocomplete="off">
      <input class="add" type="submit" name="add" value="+">
    </form>

  </div>

  <script src="../js/test.js" charset="utf-8"></script>
</body>

</html>
